@model IEnumerable<Training170427.Models.AddOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    @if (item.TypeName == "Order")
                {
                        <h3 class="panel-title">@item.TableName</h3>
                    }
                    else
                    {
                        <h3 class="panel-title">TakeAway</h3>
                    }

                </div>
                <div class="panel-body">
                        @if (item.Status != 0) { <p>Served</p> }
                        else{<p> --- </p> }
                    <a href="DetailOrder?id=@item.OrderID" class="btn btn-primary btn-block">Detail Order</a>
                </div>
            </div>
        </div>
    }
</div>
