@{
    Layout = "~/Views/Shared/_test.cshtml";
}


<style>
    .rows {
    }

    .col-lg-3s {
        padding-bottom: 30px;
    }

    .btn-lgs {
        font-size: 20px;
        background-color: limegreen;
        color: white;
    }

    .imgs {
        width: 100px;
        height: 100px;
    }

    .scroll {
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 50vh;
    }

    .konten {
        width: 700px;
    }

    .sisi {
        padding-left: 20px;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <div ng-repeat="type in order">
            <h4>{{type.TypeName}}  <button data-toggle="modal" data-target="#myModal" ng-click="GetTable()"  class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> </button></h4>
            <div class="row" style="overflow: auto; max-height:50vh">
                <div class="col-md-4" ng-repeat="data in type.Order">
                    <div ng-if="data.TableName != null">
                        <button class="btn btn-primary btn-lg  btn-block" ng-click="DetailOrder(data.OrderID)"><i class="glyphicon glyphicon-cutlery "></i> {{data.TableName}} <span class="badge">{{data.OrderServed}}</span></button>
                    </div>
                    <div ng-if="data.Name != null">
                        <button class="btn btn-primary btn-lg btn-block" ng-click="DetailOrder(data.OrderID)"><i class="glyphicon glyphicon-cutlery"></i>   {{data.Name}} <span class="badge">{{data.OrderServed}}</span></button>
                    </div>
                </div>
                @*<div class="col-md-4" ng-repeat="data in type.Order">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div ng-if="data.TableName != null">
                                {{data.TableName}}
                            </div>
                            {{data.Name}}
                            
                        </div>
                        <div class="panel-body">
                            <center>{{data.OrderServed}}</center>
                            <a href="#" class="btn btn-primary btn-block">Detail</a>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <div class="col-md-6" >
        <div class="col-md-12" ng-if="detailorder.OrderID != null">
            <h4>Detail Order <button data-toggle="modal" data-target="#myModal2" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add Order </button><button ng-click="edit()" ng-hide="test === true" class="btn btn-primary" @*data-toggle="modal" data-target="#ModalEdit"*@><i class="glyphicon glyphicon-edit"></i>Edit </button><button ng-show="test === true" ng-click="save()" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i> Save</button></h4>
            <div class="row">
                <div class="col-md-6">
                    <h5><b>Order No : {{detailorder.OrderID}}</b></h5>
                </div>
                <div class="col-md-6">
                    <h5><em>{{detailorder.OrderDate}}</em></h5>
                </div>
            </div>
            <div class="row">

                <div style="max-height:60vh ; overflow:auto">
                    <table class="table table-hover">
                        <tr>
                            <th>
                                Menu
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Qty
                            </th>
                            <th>
                                Harga
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Notes
                            </th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="item in detailorder.OrderItem">
                            <td>{{item.MenuName}}</td>
                            <td>
                                <span ng-if="item.Status == 'Order' || item.Status == 'Cook' || item.Status == 'FinishCook'" class="label label-primary">{{item.Status}}</span>
                                <span ng-if="item.Status == 'Served'" class="label label-success">{{item.Status}}</span>
                               
                            </td>   
                            <td>{{item.Qty}}</td>
                            <td>{{item.Price}}</td>
                            <td>{{item.Price*item.Qty}}</td>
                            <td>Pedas</td>
                            <td>
                                <button  ng-if="item.Status == 'Order'" ng-click="cancel(item.OrderItemID,detailorder.OrderID)"  class="btn btn-danger btn-xs btn-block">Cancel</button>
                                <button  ng-if="item.Status == 'FinishCook'" ng-click="serve(item.OrderItemID,detailorder.OrderID)" class="btn btn-primary btn-xs btn-block">Served</button>
                            </td>
                            
                        </tr>
                        <tr>
                            <td colspan="2">@*<button class="btn btn-primary"><i class="glyphicon glyphicon-print"></i>Print </button>*@</td>
                            <td></td>
                            <td><b>Pajak</b></td>
                            <td><b>Rp. {{tax}}</b></td>
                   
                            <td>@*<button class="btn btn-success btn-block" data-toggle="modal" data-target="#ModalCheckOut" ng-click="Pay(detailorder.OrderID)"><i class="glyphicon glyphicon-credit-card"></i>Pay </button>*@</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td></td>
                           
                            <td><b>GrandTotal</b></td>
                            <td><b>Rp. {{grandTotal+tax}}</b></td>
                            <td></td>
                            
                            <td></td>
                        </tr>
                        
                        <tr ng-hide="pay === true">
                            <td colspan="3"><button class="btn btn-primary btn-block"><i class="glyphicon glyphicon-print"></i>Print </button></td>
                            <td colspan="4"><button class="btn btn-success btn-block" @*data-toggle="modal" data-target="#ModalCheckOut" ng-click="Pay(detailorder.OrderID)"*@ ng-click="Pay()"><i class="glyphicon glyphicon-credit-card"></i>Pay </button> </td>
                        </tr>
                        
                        <tr ng-show="pay === true">
                            <td colspan="3"></td>
                            <td colspan="4"> <input type="text" style="width:100%" ng-model="uang" /></td>
                        </tr>
                        <tr ng-show="pay === true">
                            <td colspan="3"><button class="btn btn-danger btn-block" ng-click="CancelPay()" >Cancel</button></td>
                            <td colspan="4"><button class="btn btn-success btn-block" ng-click="GoPay(detailorder.OrderID,uang)">Pay</button> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalCheckOut">
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{pay.TableName}}{{pay.Name}} - OrderNo {{pay.OrderID}}</h4>
          
            </div>
            <div class="modal-body">
                <div style="max-height:50vh ; overflow:auto">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Menu</td>
                                <td>Qty</td>
                                <td>Price</td>
                                <td>Total</td>
                            </tr>
                            <tr ng-repeat="data in detailorder.OrderItem">
                                <td>{{data.MenuName}}</td>
                                <td>{{data.Qty}}</td>
                                <td>{{data.Price}}</td>
                                <td>{{data.Qty*data.Price}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Pajak</td>
                                <td>{{tax}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>GrandTotal</td>
                                <td>{{grandTotal+tax}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">      
                    <button type="button" class="btn btn-success btn-block">Pay</button>
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" data-target="#ModalCheckOut">Close</button>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="ModalEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">CheckOut</h4>
            </div>
            <div class="modal-body">
                <div style="max-height:50vh ; overflow:auto">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Nasi Goreng</td>
                                <td><input type="text" value="3" /></td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
               
                    <button type="button" class="btn btn-success btn-block">Save</button>
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" data-target="#ModalCheckOut">Close</button>
               
            </div>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose Table</h4>
            </div>
            <div class="modal-body">
                <div class="row rows">
                    <div class="col-lg-3 col-lg-3s" ng-repeat="tab in dataTable">
                        <input type="button" class="btn btn-lg btn-lgs" data-toggle="modal" data-target="#myModal2" data-dismiss="modal" value="{{tab.TableName}}" />
                    </div>
            </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div tabindex="-1" id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:70%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose Menu</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#food" data-toggle="tab">Food</a></li>
                                <li><a href="#drink" data-toggle="tab">Drink</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="food">
                                    <div class="row rows scroll">
                                        <div class="row rows" style="padding-left:20px; padding-top:20px;">
                                            <div class="col-lg-4">
                                                <img src="~/Content/img/nasigoreng.jpg" class="imgs" />
                                            </div>
                                            <div class="col-lg-4">
                                                <h4>Nasi Goreng</h4>
                                                <p>Price :  Rp. 10000</p>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row rows" style="padding-left:20px;">
                                            <div class="col-lg-4">
                                                <img src="~/Content/img/nasigoreng.jpg" class="imgs" />
                                            </div>
                                            <div class="col-lg-4">
                                                <h4>Nasi Goreng</h4>
                                                <p>Price :  Rp. 10000</p>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row rows" style="padding-left:20px;">
                                            <div class="col-lg-4">
                                                <img src="~/Content/img/nasigoreng.jpg" class="imgs" />
                                            </div>
                                            <div class="col-lg-4">
                                                <h4>Nasi Goreng</h4>
                                                <p>Price :  Rp. 10000</p>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row rows" style="padding-left:20px;">
                                            <div class="col-lg-4">
                                                <img src="~/Content/img/nasigoreng.jpg" class="imgs" />
                                            </div>
                                            <div class="col-lg-4">
                                                <h4>Nasi Goreng</h4>
                                                <p>Price :  Rp. 10000</p>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row rows" style="padding-left:20px;">
                                            <div class="col-lg-4">
                                                <img src="~/Content/img/nasigoreng.jpg" class="imgs" />
                                            </div>
                                            <div class="col-lg-4">
                                                <h4>Nasi Goreng</h4>
                                                <p>Price :  Rp. 10000</p>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row rows" style="padding-left:20px;">
                                            <div class="col-lg-4">
                                                <img src="~/Content/img/nasigoreng.jpg" class="imgs" />
                                            </div>
                                            <div class="col-lg-4">
                                                <h4>Nasi Goreng</h4>
                                                <p>Price :  Rp. 10000</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="drink">
                                    <div class="row rows scroll">
                                        <div class="row rows" style="padding-left:20px; padding-top:20px;">
                                            <div class="col-lg-4">
                                                <img src="~/Content/img/icetea.jpg" class="imgs" />
                                            </div>
                                            <div class="col-lg-4">
                                                <h4>Ice Tea</h4>
                                                <p>Price :  Rp. 10000</p>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row rows" style="padding-left:20px;">
                                            <div class="col-lg-4">
                                                <img src="~/Content/img/icetea.jpg" class="imgs" />
                                            </div>
                                            <div class="col-lg-4">
                                                <h4>Ice Tea</h4>
                                                <p>Price :  Rp. 10000</p>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row rows" style="padding-left:20px;">
                                            <div class="col-lg-4">
                                                <img src="~/Content/img/icetea.jpg" class="imgs" />
                                            </div>
                                            <div class="col-lg-4">
                                                <h4>Ice Tea</h4>
                                                <p>Price :  Rp. 10000</p>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row rows" style="padding-left:20px;">
                                            <div class="col-lg-4">
                                                <img src="~/Content/img/icetea.jpg" class="imgs" />
                                            </div>
                                            <div class="col-lg-4">
                                                <h4>Ice Tea</h4>
                                                <p>Price :  Rp. 10000</p>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row rows" style="padding-left:20px;">
                                            <div class="col-lg-4">
                                                <img src="~/Content/img/icetea.jpg" class="imgs" />
                                            </div>
                                            <div class="col-lg-4">
                                                <h4>Ice Tea</h4>
                                                <p>Price :  Rp. 10000</p>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row rows" style="padding-left:20px;">
                                            <div class="col-lg-4">
                                                <img src="~/Content/img/icetea.jpg" class="imgs" />
                                            </div>
                                            <div class="col-lg-4">
                                                <h4>Ice Tea</h4>
                                                <p>Price :  Rp. 10000</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#fooddetail" data-toggle="tab">Your Order</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="fooddetail" class="tab-pane active scroll">
                                    <table class="table table-responsive">
                                        <thead>
                                            <tr>
                                                <td>Nama Makanan</td>
                                                <td>Qty</td>
                                                <td>Notes</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Nasi Goreng</td>
                                                <td>1</td>
                                                <td><input type="text" /></td>
                                            </tr>
                                            <tr>
                                                <td>Nasi Goreng</td>
                                                <td>1</td>
                                                <td><input type="text" /></td>
                                            </tr>
                                            <tr>
                                                <td>Nasi Goreng</td>
                                                <td>1</td>
                                                <td><input type="text" /></td>
                                            </tr>
                                            <tr>
                                                <td>Nasi Goreng</td>
                                                <td>1</td>
                                                <td><input type="text" /></td>
                                            </tr>
                                            <tr>
                                                <td>Nasi Goreng</td>
                                                <td>1</td>
                                                <td><input type="text" /></td>
                                            </tr>
                                            <tr>
                                                <td>Ice Tea</td>
                                                <td>1</td>
                                                <td><input type="text" /></td>
                                            </tr>
                                            <tr>
                                                <td>Ice Tea</td>
                                                <td>1</td>
                                                <td><input type="text" /></td>
                                            </tr>
                                            <tr>
                                                <td>Ice Tea</td>
                                                <td>1</td>
                                                <td><input type="text" /></td>
                                            </tr>
                                            <tr>
                                                <td>Ice Tea</td>
                                                <td>1</td>
                                                <td><input type="text" /></td>
                                            </tr>
                                            <tr>
                                                <td>Ice Tea</td>
                                                <td>1</td>
                                                <td><input type="text" /></td>
                                            </tr>
                                            <tr>
                                                <td>Ice Tea</td>
                                                <td>1</td>
                                                <td><input type="text" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        @*<div class="row rows scroll">
                                <div class="row rows" style="padding-left:20px;">
                                    <div class="col-lg-12">
                                        <h4>Nasi Goreng 1 <input type="text" placeholder="Notes" /></h4>
                                    </div>
                                </div>
                                <br />
                                <div class="row rows" style="padding-left:20px;">
                                    <div class="col-lg-4">
                                        <h3>x 1</h3>
                                        <input type="text" placeholder="Notes" />
                                    </div>
                                </div>
                                <br />
                                <div class="row rows" style="padding-left:20px;">
                                    <div class="col-lg-4">
                                        <h3>x 1</h3>
                                        <input type="text" placeholder="Notes" />
                                    </div>
                                </div>
                                <br />
                                <div class="row rows" style="padding-left:20px;">
                                    <div class="col-lg-4">
                                        <h3>x 1</h3>
                                        <input type="text" placeholder="Notes" />
                                    </div>
                                </div>
                                <br />
                                <div class="row rows" style="padding-left:20px;">
                                    <div class="col-lg-4">
                                        <h3>x 1</h3>
                                        <input type="text" placeholder="Notes" />
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Order</button>
            </div>
        </div>
    </div>
</div>
