
@{
    ViewBag.Title = "IndexAPI2";
    Layout = "~/Views/Shared/_test.cshtml";
}

<h2>IndexAPI2</h2>
<div class="col-md-6" ng-repeat="data in kitchenorderitemcatebyorder">
   <h3>{{data.Status}}</h3>
    <div class="row" style="overflow-x:auto;white-space:nowrap;direction:rtl">
        <div ng-hide="order.OrderItem == false" ng-repeat="order in data.Order" class="col-md-5" style="display:inline-table;float:none; direction:initial;">
            <div class="panel panel-primary">
                <div class="panel-heading">{{order.TableName}}{{order.Name}}</div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table ">
                            <tbody ng-repeat="item in order.OrderItem">
                                <tr>
                                    <td>{{item.Qty}}</td>
                                    <td>{{item.MenuName}}</td>
                                    <td><button ng-if="data.Status == 'Order'" class="btn btn-primary" ng-click="CookOrderItem(item.OrderItemID)">Cook</button>
<button ng-if="data.Status == 'Cook'" class="btn btn-success" ng-click="FinishOrderItem(item.OrderItemID)">Done</button></td>
                                </tr>
                                <tr ng-if="item.Notes != null">
                                    <td colspan="3" style="color:gray">{{item.Notes}}</td>
                                </tr>
                                
                            </tbody>
                                
                            <tr ng-if="data.Status == 'Cook'">
                                <td colspan="3"><button class="btn btn-primary btn-block" ng-click="printkitchen(order.OrderID)">Print</button></td>
                            </tr>
                               
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="col-md-6 ">
    <h3>Order</h3>
    <div class="row" style="overflow-x:auto;white-space:nowrap;direction:rtl">
        <div class="col-md-5" style="display:inline-block;float:none; direction:initial;">
            <div class="panel panel-primary">
                <div class="panel-heading">Table1</div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table ">
                            
                            <tr>
                                <td>3</td>
                                <td>Nasi Goreng</td>
                              
                                
                                <td><button class="btn btn-primary"><i class="glyphicon glyphicon-fire"></i></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 ">
    <h3>Cook</h3>
    <div class="row" style="overflow-x:auto;white-space:nowrap;direction:rtl">
        <div class="col-md-5" style="display:inline-block;float:none; direction:initial;">
            <div class="panel panel-primary">
                <div class="panel-heading">Table1</div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table ">
                            <tr>
                                <th>Nama</th>
                                <th>Qty</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>Nasi Goreng</td>
                                <td>3</td>
                                <td><button class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

@*<div class="col-md-6">
    <div class="row" style="overflow-x:auto;white-space:nowrap;direction:rtl">
        @{for (var i = 0; i < 10; i++)
            {
                <table class=" table-bordered" style="border:1px solid black ;display:inline-block;float:none">
                    <tr>
                        <th>Nama</th>
                        <th>Qty</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>Nasi</td>
                        <td>2</td>
                        <td>FinishCook</td>
                        <td>Cancel</td>
                    </tr>

                </table>
            }
        }
    </div>
</div>*@

<div id="printkitchen" ng-hide="true">
    <div class="col-md-4">
        <h3>{{kitchenprint.TableName}}{{kitchenprint.Name}}</h3>
        <table class="table table-hover">
            <tr ng-repeat="data in kitchenprint.OrderItem">
                <td>{{data.MenuName}}</td>
                <td>{{data.Qty}}</td>
            </tr>
        </table>
    </div>
</div>
