
@{
    ViewBag.Title = "kitchentest";
    Layout = "~/Views/Shared/_test.cshtml";
}

<h2>Kitchen</h2>

<div class="col-md-6" ng-repeat="data in kitchenorderitem">
    <div class="panel panel-primary ">
        <div class="panel-heading">
            <h3 class="panel-title">{{data.Status}}</h3>
        </div>
        <div class="panel-body">
            <table ng-if="data.OrderItem != false" class="table table-hover">
                <tr>
                    <th>Nama</th>
                    <th></th>
                    <th>Qty</th>
                    <th>Notes</th>
                    <th>Type</th>
                    <th></th>
                </tr>
               
                    <tr ng-repeat="item in data.OrderItem">
                        <td>{{item.MenuName}}</td>
                        <td><span class="label label-primary">{{item.Time| date: 'HH:mm'}}</span></td>
                        <td>{{item.Qty}}</td>
                        <td>{{item.Notes}}</td>
                        <td>{{item.TypeName}}</td>
                        <td>
                            @*<button ng-if="data.Status == 'Order'" class="btn btn-danger" ng-click="CancelOrderItem(item.OrderItemID)">Cancel</button>*@
                            <button ng-if="data.Status == 'Order'" class="btn btn-primary" ng-click="CookOrderItem(item.OrderItemID)">Cook</button>
                            <button ng-if="data.Status == 'Cook'" class="btn btn-success" ng-click="FinishOrderItem(item.OrderItemID)">Done</button>
                        </td>
                    </tr>
            </table>
            <center ng-if="data.OrderItem == false"><h2>Empty List</h2></center>
        </div>
    </div>
</div>

