@{
    Layout = "~/Views/Shared/_No_Layout.cshtml";
    ViewBag.Title = "Menu";
}

<div class="row" style="margin:auto;">
    <a href="/Kitchen/index"><img src="~/Content/img/kitchen.jpg" /></a>
    <a href="/Waiter/index"><img src="~/Content/img/order.png" /></a>
    <a href="/CheckOut/index"><img src="~/Content/img/cashier.png" /></a>
</div>


