@{
    Layout = "~/Views/Shared/_No_Layout.cshtml";
    ViewBag.Title = "Menu";
}

<div class="row" style="margin:auto">
    <a href="/Kitchen/"><img src="~/Content/img/kitchen.jpg" /></a>
    <a href="/Main/"><img src="~/Content/img/order.png" /></a>
    <a href="/Bills/"><img src="~/Content/img/cashier.png" /></a>
</div>


